.page-layout.top {
    background-color: #ffd767;

    .logo_str {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        color: #76912d;
        line-height: 100px;
    }

    img.logo_img {
        margin: auto;
        display: block;
    }
}