@font-face {
    font-family: "mgenplus-1c-thin";
    font-style: "normal";
    font-weight: 400;
    src: url("../assets/fonts/mgenplus-1c-thin.ttf") format("truetype");
}

@font-face {
    font-family: "ume-pgc5";
    font-style: "normal";
    font-weight: 400;
    src: url("../assets/fonts/ume-pgc5.ttf") format("truetype");
}